.navBar {
    height: 0.88rem;
    border: 1px solid #999;
    margin-bottom: 0.1rem;
    line-height: 0.88rem;
    text-align: center;
    padding: 0 0.2rem;
}
.navBar>span {
    height: 0.88rem;
    float: left;
}
.icon {
    color: red
}

/* .swiperBox {
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    border: 0.02rem solid #000;
} */

.oDIv {
    width: 2rem;
    height: 2rem;
    background: #999;
    text-align: center;
    line-height: 2rem;
}